/* General Container */
.container {
  margin: 0px;
  padding: 0px;
  font-family: verdana;
  box-sizing: border-box;
}

/* Subtitle */
.subtitle {
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  text-align: center;
  margin-top: 150px;
  font-size: 40px;
}

/* Project List */
.project-list {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Individual Project */
.project {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

/* Project Image */
.proj-img {
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  width: 300px;
  float: left;
  box-shadow: var(--secondary-color) 0px 0px 60px;
}

/* Project Details */
.proj {
  color: var(--text-color);
  margin-left: 100px;
  letter-spacing: 1.5px;
  line-height: 2;
  text-align: left;
}

/* Project Title */
.proj-title {
  margin: 0px;
  padding: 0px;
}

/* Project Description */
.proj-description {
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
}
