.information {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-align {
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 90%;
  width: 100%;
}

.heading {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: 550;
}

.desc {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  line-height: 1.6;
  font-size: 1.25rem;
  max-width: 800px;
  width: 100%;
  padding: 0 1rem;
}

.tabs {
  margin: 0;
  padding: 0;
}

.t {
  margin: 3rem;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
}

.tab-contents {
  margin: 0;
  padding: 0;
  display: none;
}

.active-tab {
  display: block;
}

.tab-title {
  color: var(--secondary-color);
  font-size: 1.25rem;
}

.skills-content {
  margin: 0;
  padding: 0;
}

.skills-content li {
  list-style: none;
  margin-top: 0.625rem;
  color: var(--text-color);
}
