.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: var(--nav-color);
}

.title {
  font-size: 32px;
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a:last-child {
  margin-right: 0; /* Remove right margin from the last item */
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: 0.4s;
}

.navbar a:hover::before {
  width: 100%;
}

/* Theme icon styles */
#theme-icon {
  position: absolute;
  top: 25px;
  margin-left: 30px;
  width: 30px;
  cursor: pointer;
}
