/* Header styles */
#header {
  margin: 0;
  padding: 20px 200px;
  background: var(--nav-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  letter-spacing: 5px;
}

/* Logo styles */
.logo {
  border-radius: 50px;
  width: 50%;
  cursor: pointer;
}

/* Nav styles */
nav {
  margin: 0;
  padding: 0;
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.menu li {
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
}

ul.menu li a {
  margin: 0;
  padding: 0;
  transition: 0.3s;
  text-decoration: none;
  color: var(--text-color);
}

/* Theme icon styles */
#theme-icon {
  margin-left: 280px;
  width: 30px;
  cursor: pointer;
}

/* Menu button styles */
#menubtn {
  display: none;
  color: var(--text-color);
}

.bx.bxs-chevron-down {
  display: none;
  color: var(--text-color);
}
