/* Section info styles */
section.info {
  margin: 0;
  padding: 0;
  margin-top: 0; /* Remove the margin */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 1.5px;
  text-align: center;
}

@media (min-width: 768px) {
  section.info {
    flex-direction: row;
    text-align: left;
    padding: 5% 10%;
    margin-top: 7rem; /* Adjusted margin for larger screens */
  }
}

/* Profile picture styles */
.pfp {
  border-radius: 50%;
  border: 6px solid var(--secondary-color);
  width: 80%;
  max-width: 270px;
  object-fit: cover;
  box-shadow: var(--secondary-color) 0px 0px 50px;
}

.pfp:hover {
  /* transform: scale(1.2); */
  box-shadow: var(--secondary-color) 0px 0px 150px;
}

@media (min-width: 768px) {
  .pfp {
    max-width: 30%;
  }
}

/* Intro section styles */
.intro {
  color: var(--text-color);
  margin-top: 7rem;
  line-height: 1.5;
  padding-bottom: 5%;
}

@media (min-width: 768px) {
  .intro {
    margin-left: 2rem;
  }

  .description .about {
    margin-right: 100px;
  }
}

/* @media (max-width: 1435px) {
  .description .about {
    font-size: 1rem;
  }

  .description .name {
    font-size: 1.25rem;
  }
} */

/* Description styles */
.description .hi {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.description .name {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .description .about {
    margin: 0 50px;
  }
}

@media (min-width: 1435px) {
  .description .hi {
    font-size: 2.5rem;
  }

  .description .name {
    font-size: 4rem;
  }

  .description .about {
    font-size: 1.5rem;
  }
}

/* Social media icons styles */
.hero-icons {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  transition: transform 0.5s;
}

.hero-icons a:hover {
  color: var(--secondary-color);
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  .hero-icons {
    justify-content: flex-start;
  }
}

.hero-icons a {
  background: transparent;
  text-decoration: none;
  margin: 1rem;
  transition: 0.5s;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  color: var(--text-color);
}

.hero-icons i {
  display: inline-block;
  text-rendering: auto;
  font-family: boxicons;
}

@media (min-width: 769px) {
  section.info {
    gap: 6rem;
  }
  .intro {
    margin-top: 5rem;
  }
}
