:root {
  --background-color: #000;
  --nav-color: #161616;
  --project-card-bg: #262626;
  --text-color: #fff;
  --secondary-color: #003893;
  --form-color: #262626;
  --card-color: #08112b;
  --button-color: #003893;
}

[data-theme="light"] {
  --background-color: #fff;
  --nav-color: #e7e7e7;
  --project-card-bg: #e7e7e7;
  --text-color: #000;
  --secondary-color: #0d92ff;
  --form-color: #e7e7e7;
  --card-color: #e7e7e7;
  --button-color: #0d92ff;
}

body {
  background: var(--background-color) no-repeat;
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  margin: 0 auto 60px;
}

* {
  font-family: verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

html {
  scroll-behavior: smooth;
}
